<div class="table-row">
	<div class="w-10">
		<span>{{dictionaryItem.code}}</span>
	</div>
	<div class="w-15">
		<span>{{dictionaryItem.name_kk}}</span>
	</div>
	<div class="w-15">
		<span>{{dictionaryItem.name_ru}}</span>
	</div>
	<div class="w-20">
		<span>{{dictionaryItem.name_en}}</span>
	</div>
	<div class="w-10">
		<span>{{dictionaryItem.begin_version}}</span>
	</div>
	<div class="w-10">
		<span>{{dictionaryItem.end_version}}</span>
	</div>
	<div class="w-20">
		<span>{{dictionaryItem.note}}</span>
	</div>
</div>
