<p-toast position="top-right"></p-toast>


<div class="table-container">
	<div class="fsms-table">
		<div class="fsms-table--header">
			<div class="w-10">
				<span>Код</span>
			</div>
			<div class="w-15">
				<span>Наименование на казахском</span>
			</div>
			<div class="w-15">
				<span>Наименование на русском</span>
			</div>
			<div class="w-20">
				<span>Наименование на английском</span>
			</div>
			<div class="w-10">
				<span>Создано</span>
			</div>
			<div class="w-10">
				<span>Обновлено</span>
			</div>
			<div class="w-5">
				<span>Иерарх.</span>
			</div>
			<div class="w-5">
				<span>Общий</span>
			</div>

			<div class="w-10 d-flex flex-row justify-content-between">
				<span>Действия</span>
				<button pButton type="button" icon="pi pi-plus" class="ui-button-success mr-2"
						pTooltip="Добавить справочник" (click)="openModal()"></button>
			</div>

		</div>

		<ng-container *ngFor="let category of dictionaryList">
			<app-dictionary-table-item [dictionary]="category"></app-dictionary-table-item>
		</ng-container>
	</div>
</div>

